*pyc
*.log
.ipynb_checkpoints/
.idea/
experiment_log.txt
venv/
data/CIFAR10/
data/Freyfaces/
data/MNIST_static/
data/Caltech101Silhouettes/
data/OMNIGLOT/
results/snapshots/
results/orinjade
results/codefix
results/fulliautomatix
results/remote_snapshots
results/msi
scripts/test*
scripts/archive
*~
#*#
